.RegisterForm{
	border: 2px solid grey;
	padding: 25px;
}

input {
  padding: 10px 15px;
  text-align: center;
	font-size: 20px;
}

.row {
	margin-bottom: 10px;
}

.registertext {
	text-align: center;
	margin-bottom: 20px;
}

.btn {
	text-align: center;
}

form input[type="submit"] {
	padding: 5px 25px;
}
