.Header {
	.container {
		height: 75px;
		background-color: #1d1836;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	img {
		width: 60px;
		margin-left: 20px;
		margin-right: 10px;
		margin-top: 15px;
	}

	li {
		display: inline-block;
		padding: 0px 15px;
	}

	li:hover {
		color: red;		
	}

	nav {
		margin-right: 50px;
	}

	.active {
		color: #ab2bab;
		font-weight: bold;
		text-shadow: 2px 2px 10px black;
	}

	a {
		color: inherit;
	}

	span {
		display: flex;
		font-size: 30px;
		font-weight: bold;
	}
}
