.LoginForm {
	.box {
		height: 300px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		border: 2px solid black;
	}

	.box input {
		margin-bottom: 10px;
		text-align: center;
	}

	.box input[type = "text"], .box input[type = "password"] {
		outline: none;
		padding: 10px 40px;
		border-radius: 10px;
	}

	.box input[type = "submit"] {
		padding: 5px 20px;
		margin: 5px 100px;
	}

	.register-text {
		padding-top: 25px;
	}
}

