$primary-color: #0d0826;

.Problemset {
	display: flex;
	justify-content: center;
	margin-top: 100px;

	.container {
		display: flex;
		flex-direction: column;
		width: 500px;
		background-color: $primary-color;
		color: white;
	}

	.row {
		display: flex;
		align-items: center;
		border-bottom: 2px solid black;
		margin-bottom: 1px;
		transition: 0.3s;
	}

	.row:hover {
		background-color: lighten($primary-color, 7%);
	}

	.task-name {
		padding-left: 10px;
		flex: 3 1 auto;
	}	

	img {
		width: 40px;
		float: right;
	}

	.task-solved-icon {
		border-left: 2px solid black;
	}

	a {
		text-decoration: none;
	}
}
