.RegisterForm {
	.box {
		background-color: #04041f;
		color: silver;
		height: 320px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		border: 5px solid #101038;
		border-radius: 15px;
	}

	.box input {
		margin-bottom: 10px;
		text-align: center;
		background-color: inherit;
		color: white;
	}

	.box input[type = "text"], .box input[type = "password"], .box input[type = "email"]  {
		border: none;
		border-bottom: 1px solid grey;
		padding: 10px 40px;
		outline: none;
	}

	.box input[type = "submit"] {
		padding: 5px 20px;
		margin: 5px 100px;
	}
}

